<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-padrao">
  
  <head>
    <title>Novo Produto</title>
    
    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/plugins/steps/jquery.steps.css}" rel="stylesheet" />
  </head>
  
  <th:block layout:fragment="conteudo">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-sm-4">
        <h2>Novo produto</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index-2.html">Página inicial</a>
          </li>
          <li class="active">
            <strong>Novo produto</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-8">
        <div class="title-action">
          <a href="#" class="btn btn-primary">This is action area</a>
        </div>
      </div>
    </div>
    
    <div class="wrapper wrapper-content">
      <div class="animated fadeInRight">
        <p>Informe abaixo os dados do produto</p>
        <form id="form" action="#" class="wizard-big">
          <h1>Inf. Básicas</h1>
          <fieldset>
            <h2>Informações Básicas</h2>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="exampleInputEmail1">Categoria</label>
                  <select name="categoria" id="categoria" class="form-control required">
                    <option value="">Selecione...</option>
                    <option value="1">Padaria</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Título</label>
                  <input type="text" class="form-control required" name="titulo" id="titulo" placeholder="ex: Pão de Forma" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Descrição</label>
                  <input name="decricao" id="descricao" type="text" class="form-control required" placeholder="Descrição do produto" />
                </div>
                <div class="form-group">
                  <label class="col-xs-12" for="exampleInputPassword1" style="padding-left:0">Imagem do produto</label>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                      <img src="https://s3.amazonaws.com/popco/images/services/starter-page/img-round-placeholder.jpg" alt="Imagem do produto" />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                    <div>
                      <span class="btn btn-default btn-file"><span class="fileinput-new">Selecionar</span><span class="fileinput-exists">Trocar</span><input type="file" name="..." class="required" /></span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="text-center">
                  <div style="margin-top: 20px">
                    <i class="fa fa-barcode" style="font-size: 180px;color: #e5e5e5 "></i>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          
          <h1>Profile</h1>
          <fieldset>
            <h2>Profile Information</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>First name *</label>
                  <input id="name" name="name" type="text" class="form-control required" />
                </div>
                <div class="form-group">
                  <label>Last name *</label>
                  <input id="surname" name="surname" type="text" class="form-control required" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Email *</label>
                  <input id="email" name="email" type="text" class="form-control required email" />
                </div>
                <div class="form-group">
                  <label>Address *</label>
                  <input id="address" name="address" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </fieldset>
          
          <h1>Finish</h1>
          <fieldset>
            <h2>Terms and Conditions</h2>
            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" /> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
      </div>
      <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
      </div>
    </div>
  </th:block>
  
  
  <th:block layout:fragment="scripts">
    <script th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
    
    <!-- Steps -->
    <script th:src="@{/js/plugins/steps/jquery.steps.min.js}"></script>
    
    <!-- Jquery Validate -->
    <script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
    
    <script>
      //<![CDATA[
      $(document).ready(function(){
        $.extend($.validator.messages, {
          required: "Campo obrigatório.",
          remote: "Please fix this field.",
          email: "E-mail inválido",
          url: "URL inválida.",
          date: "Data inválida.",
          number: "Valor inválido.",
          equalTo: "Please enter the same value again.",
          accept: "Please enter a value with a valid extension.",
          maxlength: $.validator.format("Please enter no more than {0} characters."),
          minlength: $.validator.format("Please enter at least {0} characters."),
          rangelength: $.validator.format("Please enter a value between {0} and {1} characters long."),
          range: $.validator.format("Please enter a value between {0} and {1}."),
          max: $.validator.format("Please enter a value less than or equal to {0}."),
          min: $.validator.format("Please enter a value greater than or equal to {0}.")
        });
        
        $("#form").steps({
          bodyTag: "fieldset",
          labels: {
            current: "passo atual:",
            pagination: "Paginação",
            finish: "Enviar",
            next: "Próximo",
            previous: "Anterior",
            loading: "Carregando ..."
          },
          onStepChanging: function (event, currentIndex, newIndex)
          {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex)
            {
              return true;
            }
            
            // Forbid suppressing "Warning" step if the user is to young
            //if (newIndex === 3 && Number($("#age").val()) < 18)
            //{
            //  return false;
            //}
            
            var form = $(this);
            
            // Clean up if user went backward before
            if (currentIndex < newIndex)
            {
              // To remove error styles
              $(".body:eq(" + newIndex + ") label.error", form).remove();
              $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }
            
            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";
            
            // Start validation; Prevent going forward if false
            return form.valid();
          },
          onStepChanged: function (event, currentIndex, priorIndex)
          {
            // Suppress (skip) "Warning" step if the user is old enough.
            /*if (currentIndex === 2 && Number($("#age").val()) >= 18)
            {
            $(this).steps("next");
            }*/
            
            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3)
            {
              $(this).steps("previous");
            }
          },
          onFinishing: function (event, currentIndex)
          {
            var form = $(this);
            
            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";
            
            // Start validation; Prevent form submission if false
            return form.valid();
          },
          onFinished: function (event, currentIndex)
          {
            var form = $(this);
            
            // Submit form input
            form.submit();
          }
        }).validate({
          errorPlacement: function (error, element)
          {
            element.before(error);
          },
          rules: {
            confirm: {
              equalTo: "#password"
            }
          }
        });
      });
      //]]>
    </script>
  </th:block>
</html>
